body {

	font-family: 'Orbitron', sans-serif;
}

#title{
	color: gold;
	font-size: 4em;
}

#caption{
	color: white;
	font-size: 1.4em;
}

.plan{
	font-size: 2em;
	background: rgb(45, 48, 54);
	margin: 0.3em;
	flex-basis: 10em;
}


.plan-details{
	margin-top: 2em;
	font-size: 1em;
}

.free-details{
	font-size: 2em;
	margin-top: 1.5em;
}

#plan-flex{
	height: 30em;
	display: flex;
	justify-content: center;
	align-items: stretch;
}