body {

	font-family: 'Orbitron', sans-serif;
}

#title{
	color: gold;
	font-size: 4rem;
}

#caption{
	color: white;
	font-size: 1.4rem;
}

#plan-grid{
	display: grid;
	grid-template-columns: 20% 20% 20%;
	justify-content: center;
	grid-template-rows: auto;
	width: 100%;
}

.plan:hover {
	transform: scale(1.1);
} 


.plan{
	background-color: white;
	height: 25rem;
	border-radius: 1rem;
	width: 90%;
	transition: all 500ms;
}

#free-plan{
	background-color: white;
	height: 25rem;
	border-radius: 1rem;
	width: 90%
}
.paid{
	display: grid;
	grid-template-rows: 5rem auto auto auto auto;
	font-size: 1.1rem;
	color: rgb(72, 72, 74);
	grid-row-gap: 3em; 
}

#gold-header{
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	background: url(gold-background.jpg);
	display: grid;
	align-content: center;
	font-size: 1.8rem; 
	border-bottom: dashed;
	color: black;
}

#silver-header{
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	background: url(silver-background.jpg);
	display: grid;
	align-content: center;
	font-size: 1.8rem; 
	border-bottom: dashed;
	color: black;
}

#bronze-header{
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	background: url(bronze-background1.jpg);
	background-size: cover;
	display: grid;
	align-content: center;
	font-size: 1.8rem; 
	border-bottom: dashed;
	color: black;
}

#free{
	display: grid;
	grid-template-rows: 5rem auto;
	color: rgb(72, 72, 74);
	font-size: 50px;
	grid-row-gap: 5rem;
}
