body {

	font-family: 'Orbitron', sans-serif;
}

#title{
	color: gold;
	font-size: 4em;
}

#caption{
	color: white;
	font-size: 1.4em;
}

.plan{
	font-size: 2em;
	background: white;
	margin: 0.3em;
	flex-basis: 10em;
	border-radius: 20px
}


.plan-details{
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	margin-top: 2em;
	font-size: 0.7em;
}

.free-details{
	color: black;
	font-size: 2em;
	margin-top: 1.5em;
}

#plan-flex{
	height: 30em;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

#span-gold{
	background: url(gold-background.jpg);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 1em;
	border-bottom: dashed;
	display: flex;
	justify-content: center;
	color: black;
}

#span-silver{
	background: url(silver-background.jpg);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 1em;
	border-bottom: dashed;
	display: flex;
	justify-content: center;
	color: black;
}

#span-bronze{
	background: url(bronze-background.jpg);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 1em;
	border-bottom: dashed;
	display: flex;
	justify-content: center;
	color: black;
}

